<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
     <title>ABOUT</title>
    <link rel="icon" href="/img/weather.png">
      </head>
<body>
    <div class="main-content">
            {{>header}}

   <p>This site is created by Vishal. It uses data from weatherstack and mapbox.com</p> 
<img class="Portrait" src="/img/asas.jpg">
    </div>
 
{{>footer}}

</body>
</html>