<!DOCTYPE html>
<head> 
    <link rel="stylesheet" href="./css/styles.css">
    <title>HELP</title> 
    <link rel="icon" href="/img/weather.png">
    </head>
<body>
<div class="main-content">
    {{>header}}
    
    <h4>    {{helptext}} </h4>

</div>
{{>footer}}    

    </body>
</html>